
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 

        <header>

    
</header>

      

        <h1>Lego about</h1>

        <section>

            <nav>
                <ul>

                    <li>@Html.ActionLink("hjem", "Index", "home")</li>
                    <li>@Html.ActionLink("om oss", "About", "home")</li>
                    <li>@Html.ActionLink("buy", "buy", "home")</li>
                </ul>

            </nav>    

            <h2>lego er et dansk produkt.veldig gløy å leke med lego</h2>

        </section>
    </div>
</body>
</html>
