
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>buy</title>
</head>
<body>
    <div> 

<header>
<h1>KJØP</h1>
</header>

<section>
    <nav>
        <ul>

            <li>@Html.ActionLink("hjem", "Index", "home")</li>
            <li>@Html.ActionLink("om oss", "About", "home")</li>
            <li>@Html.ActionLink("buy", "buy", "home")</li>
        </ul>

    </nav>

    <h2>produkter i handlekurven</h2>
</section>
    </div>
</body>
</html>
